* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* entrada da página */
body {
    opacity: 0;
    transition: opacity 0.5s ease;
}

body.loaded {
    opacity: 1;
} 

/* saída da página */
body.fade-out {
    opacity: 0;
} 

/*cores*/
:root {
    --cor-roxaEscura: #342e57;
    --cor-roxoLilas: #837bb9;
    --cor-roxoClaro: #ccc1da;
    --cor-bege: #fdf4e5;
    --cor-branca: #ffffff;
}

/*footer*/
.footer {
    background-color: var(--cor-roxoClaro);
    color: var(--cor-roxaEscura);
    padding: clamp(30px, 5vw, 60px) clamp(15px, 5vw, 40px);
}

.footer h5 {
    font-family: 'IBM Plex Serif', serif;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.3em;
}

.footer p {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    line-height: 1.6em;
}

/*arquivo index*/
header {
    background: linear-gradient(135deg, var(--cor-bege), var(--cor-roxoClaro), var(--cor-bege), var(--cor-roxoClaro));
    color: var(--cor-roxaEscura);
    font-family: 'Noto Serif Display', serif;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.nav_menu {
    display: flex;
    padding: 0.5em;
    padding-left: clamp(1em, 5vw, 8em);
    gap: 0.5em;
}

.nav_menu img {
    width: 3em;
    height: 2.5em;
}

.index {
    background: linear-gradient(135deg, var(--cor-roxoLilas)10%, var(--cor-bege)80%);
}

#text_apresentação {
    font-family: 'IBM Plex Serif', serif;
    color: var(--cor-roxaEscura);
    text-align: center;

    margin: 3em clamp(2em, 8vw, 9em);

    line-height: 2em;

    font-size: clamp(1.2em, 2.5vw, 1.8em);
}

#linha-tempo {
    padding: 4em 1em;
    font-family: "Noto Serif Display", serif;
    color: var(--cor-roxaEscura);
}

/* linha central */
.timeline {
    position: relative;
    max-width: 900px;
    margin: auto;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 4px;
    background-color: var(--cor-roxaEscura);
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* item */
.timeline-item {
    position: relative;
    width: 50%;
    padding: 2em;
    display: block;
    text-decoration: none;
    color: inherit;
}

/* lado esquerdo */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.timeline-item.left {
    left: 0;
    text-align: right;
    animation: slideInLeft ease-in-out;
    animation-timeline: view();
    animation-range: cover 0 cover 40%;
}

.timeline-item.left::after {
    right: -8px;
}

.timeline-item.left .content:hover {
    background-color: #837bb9;
    color: var(--cor-bege);
    box-shadow: 10px 12px 1px var(--cor-roxaEscura);
    transition: all 0.2s ease;
}

/* lado direito */
@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(300px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.timeline-item.right {
    left: 50%;
    animation: slideInRight ease-in-out;
    animation-timeline: view();
    animation-range: cover 0 cover 25%;
}

.timeline-item.right::after {
    left: -8px;
}

.timeline-item.right .content:hover {
    background-color: #837bb9;
    color: var(--cor-bege);
    box-shadow: -10px 12px 1px var(--cor-roxaEscura);
    transition: all 0.2s ease;
}

/* card */
.timeline-item .content {
    padding: 1em;
    border-radius: 0.5em;
    border: var(--cor-roxaEscura) 0.1em solid;
    box-shadow: 0px 2px 5px var(--cor-roxaEscura);
    transition: all 0.2s ease;
    cursor: pointer;
    display: block;
}

.timeline-item p {
    font-family: 'Hanken Grotesk', sans-serif;
}

/* RESPONSIVO (celular) */
@media (max-width: 768px) {

    .timeline::after {
        left: 20px;
    }

    .timeline-item {
        width: 100%;
        padding-left: 50px;
        padding-right: 20px;
    }

    /* remove animação lateral */
    .timeline-item.left,
    .timeline-item.right {
        animation: fadeOnly ease-in-out;
        animation-timeline: view();
        animation-range: cover 0 cover 40%;
        left: 0;
        text-align: left;
    }

    @keyframes fadeOnly {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .timeline-item::after {
        left: 12px;
    }
}

/*arquivo período*/
.periodo h1 {
    margin-left: clamp(1em, 4vw, 3em);
}

.minha-navbar {
    background-color: var(--cor-roxoClaro);
}

.btn-close {
    font-size: 1.5em;
    color: var(--cor-roxoLilas) !important;
}

.nav-link {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: var(--cor-roxoLilas) !important;
    border-top: 0.2em solid var(--cor-roxoLilas);
    border-bottom: 0.2em solid var(--cor-roxoLilas);
    padding: 0.5em 3em;
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 1em 0;
}

.ativo {
    background-color: var(--cor-roxoLilas);
    color: var(--cor-branca) !important;
}

.offcanvas-header {
    display: flex;
    justify-content: flex-end;
}

.meu-menu {
    background-color: var(--cor-branca);
}

@media (max-width: 768px) {
    .meu-menu {
        width: auto !important;
    }
}

.navbar-toggler {
    border: none;
    box-shadow: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    margin-right: 0.5em;
    filter: invert(17%) sepia(25%) saturate(900%) hue-rotate(220deg) brightness(85%) contrast(90%);
}

.periodo {
    background: linear-gradient(to bottom, var(--cor-bege), var(--cor-roxoLilas), var(--cor-bege), var(--cor-roxoLilas));
}

.resumo {
    text-align: center;
    color: var(--cor-roxaEscura);
    line-height: 1.8em;

    padding: clamp(3em, 8vw, 6em) clamp(1.5em, 5vw, 6em);
}

.resumo h2 {
    font-family: 'Noto Serif Display', serif;
    margin-top: 2em;

    font-size: clamp(1.8em, 3vw, 2.8em);
}

.resumo p {
    font-family: 'IBM Plex Serif', serif;

    font-size: clamp(1.1em, 2vw, 1.6em);
    max-width: 52em;
    margin: 2em auto;
}

.seção_obras {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 2em;
    gap: 1em;
}

.seção_obras h2 {
    color: var(--cor-bege);
    text-shadow: var(--cor-roxaEscura) 1px 1px 10px;
    font-family: 'Noto Serif Display', serif;
    margin-bottom: 1em;
    font-size: 3em;
    font-weight: 400;
}

.exposição {
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 37.5em;
    height: 100%;
}

.card_obras {
    width: 100%;
    background-color: var(--cor-bege);
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card_obras h3 {
    color: var(--cor-roxaEscura);
    margin-bottom: 0.5em;
    font-weight: 500;

    white-space: nowrap;
    /* impede quebra de linha */
    overflow: hidden;
    /* esconde o excesso */
    text-overflow: ellipsis;
    /* adiciona "..." */
}

.obra {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.obra img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    /* MOSTRA A IMAGEM COMPLETA */
}

.obra iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.legenda {
    background-color: var(--cor-bege);
    color: var(--cor-roxaEscura);
    border-radius: 0.5em;
    font-family: 'Hanken Grotesk', sans-serif;
    text-align: justify;
    padding: 0.5em;
    margin-bottom: 5em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    min-height: 250px;
    /* ajusta conforme ficar melhor */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.legenda p {
    font-size: 1.1em;
}

#nav-periodos {
    bottom: 20px;
    left: 0;
}

.btn-nav {
    transform: translateY(-5em);
    position: absolute;
    pointer-events: all;
    padding: 0.7em 1.5em;
    border-radius: 2em;
    background-color: var(--cor-roxoLilas);
    color: var(--cor-branca);
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

#btn-anterior {
    left: clamp(1em, 5vw, 8em);
}

#btn-proximo {
    right: clamp(1em, 5vw, 8em);
}

.btn-nav:hover {
    background-color: var(--cor-roxaEscura);
}